<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=queuestracct;AccountKey=TJ5AyPjhJiEQKluGCXbbfxQTvcJkmD52WLiw10XlFqkxKNZ7S53tFub4ZoYsNdnTYrYlXPMh+nglIeOWoAkmmw==;EndpointSuffix=core.windows.net" />
  </appSettings>

</configuration>