<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=blobstracct;AccountKey=3LuQw5Z9uHCRPJkxAYKOmsEDBmWbcmxo6nSpBZzenINU2lSEBbbIlMzfvx0OQdP5K5/DyqrCRsw0+cBNI7ywQA==;EndpointSuffix=core.windows.net" />
  </appSettings>

</configuration>