<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=tablestracct;AccountKey=c5lvAY17sLqba6hBVidcIjXmMadp2e0d5+LE8yFlvnd9xyBQeez31IONk9NFHsZnh0kwlj4734hu6QYyXgMZbw==;EndpointSuffix=core.windows.net" />
  </appSettings>

</configuration>